<!DOCTYPE html>
<html>
<head>
  <title>Connectu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Sign Up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: signup_path) do |f| %>

      <%= f.label :first_name %>
      <%= f.first_name_field :first_name, class: 'form-control' %>

      <%= f.label :last_name %>
      <%= f.last_name_field :last_name, class: 'form-control' %>
      
      <%= f.label :company %>
      <%= f.company_field :company, class: 'form-control' %>

      <%= f.label :job_title %>
      <%= f.job_title_field :job_title, class: 'form-control' %>

      <%= f.label :contact_by %>
      <%= f.contact_by_field :contact_by, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Sign up", class: "btn btn-primary" %>
    <% end %>

    <p>Existing user? <%= link_to "Login", login_path %></p>
  </div>
</div>
</body>
</html>