<table>
  <% @event.attendances.each do |attendance| %>
    <tr>
      <td><%= attendance.user.first_name %></td>
      <td><%= attendance.user.last_name %></td>
      <td><%= attendance.user.company_name %></td>
      <td><%= attendance.user.job_title %></td>

      <%= form_for(@connection) do |f| %>
      <%= f.hidden_field :connected_user_id%>

        <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', event_path(@event),class: "btn btn-small btn-success"  %>
