<h1>Choose</h1>
<h2>Enter in event number</h2>

<%= form_for :attendance, url: {controller: 'attendances' ,action: 'create'} do |f| %>


<p>
 <%f.label :event_id%><br>
 <%= f.text_field :event_id %>
</p>

<p>
<%= f.select(:reason) do %>
  <% [['General Networking', 1], ['Hiring', 2], ['Job Search', 3]].each do |c| -%>
    <%= content_tag(:option, c.first, value: c.last) %>
  <% end %>
<% end %>

</p>

<%= f.hidden_field :host, :value => false %>
<p>
   <%= f.submit %>
 </p>

<% end %>

<%= link_to 'Host an Event', new_event_path %>
