<!DOCTYPE html>
<html>
<head>
  <title>Connectu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <li><%= link_to 'LinkedIn', '/auth/linkedin' %></li>

<% if current_user? %>
  <%= link_to 'Logout', logout_path, method: 'delete' %>
<% else %>
  <%= link_to "Login", login_path %> or <%= link_to "Sign up now!", signup_path %>
<% end %>

<%= yield %>



</body>
</html>
